<%- include("partials/header") -%>
    <h1>Home</h1>
    <p><%= home %></p>
    <% let arrPost = postContent %>
    <% for (let i = 0; i < arrPost.length; i++){ %>
    <%- console.log(arrPost[i].title) -%>
    <% } %>


<%- include("partials/footer") -%>
